{% extends './layout.html' %}
{% block tittle %}probando{% endblock %}
{% block body %}
<div class="container text-center mt-4">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/cuenta">Datos de usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/historial_de_compras">Historial de compras</a>
        </li>
    </ul>
</div>

<div class="container text-center mt-4">
  <div class="accordion" id="accordionExample">
    {% for x in db %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
          <div class="container text-center">
            <div class="row  mx-auto d-flex justify-content-center align-items-center">
              <div class="col-md-3">
                <u>Pedido</u> #{{ loop.index }}
              </div>
              <div class="col-md-3">
                <u>Fecha:</u> {{x[0][6]}} 
              </div>
              <div class="col-md-3">
                <u>Estado:</u> "{{x[0][5]}}"
              </div>
              <div class="col-md-3">
                <u>Total:</u> ${{x[0][7]}}
              </div>
            </div>
          </div>
        </button>
      </h2>
      <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for y in x %}
              <tr>
                <td>{{y[2]}}</td>
                <td>{{y[3]}}</td>
                <td>{{y[4]}}</td>
                <td>{{y[3]*y[4]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}