{% extends './layout.html' %}
{% block tittle %}probando{% endblock %}
{% block body %}
<div class="container text-center mt-4">
  <form action="/validar_inicio" method="GET">
    <div class="row  mx-auto d-flex justify-content-center align-items-center">
      <div class="col-md-3">
        <label for="dni" class="form-label">Ingresar DNI:</label>
        <input type="number" class="form-control" id="dni" name="dni" required>
      </div>
    </div>
    <div class="row mt-4 mx-auto d-flex justify-content-center align-items-center">
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}